body {
  background-color: #ffffff;
  font-family: "Rubik";
}

section.header-page {
  margin-top: 70px;
}

.header-page h2 {
  font-size: 50px;
  line-height: 70px;
}

.header-page p {
  color: #4f5665;
  line-height: 30px;
}

.header-page span {
  font-weight: 500;
}

.header-page a, .subscribe a{
  font-size: 15px;
  background-color: #f53838;
  color: rgb(241, 241, 241);
}

.header-page a:hover, .plan-button:hover, .subscribe a:hover{
  box-shadow: 0 10px 30px rgba(243, 95, 95, 0.2);
  color: white;
}

p.bar-summary{
    font-size: 25px;
    font-weight: bold;
   padding: 0;
   margin: 0;
}

p.bar-summary-sub{
    padding: 0;
    margin: 0;
}


.summary .container{
  background-color : white;
  width: 100%;
  box-shadow: 0 40px 300px rgba(179, 179, 179, 0.1);
  border-radius: 10px;
}

section.plan {
  background: #F6F6F6;
}

.icon-plan{
  color: #2fab73;
  margin-right: 15px;
}

.card-plan{
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  height: 760px;
}

.card-plan, .card-testimoni{
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}

.card-active {
  border: 2px solid #F53838;
}

div.plan-price{
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

.plan-button{
  border: 2px solid #F53838;
  width: 178px;
  font-weight: 500;
}

.card-body .container p{
  font-size: 14px;
  color: #4F5665;
}
.owl-dots{
  margin-top: 30px;
  text-align: right;
  width: 150px!important;
  float: left;
}
.owl-dots button.owl-dot span {
  background-color: #DDE0E4!important;
  width: 15px;
  height: 15px;
}

.owl-dots button.owl-dot.active span {
  width: 35px;
  background-color: #F53838!important;
}

div.owl-nav{
  float: right;
  width: 150px!important;
}

.img-testimoni{
  height: 50px!important;
  width: 50px!important;
}

.card-testimoni{
  height: 230px;
}

button.owl-prev {
  width: 50px!important;
  height: 50px!important;
  background: transparent!important;
  border: 2px solid #F53838!important;
  border-radius: 100px!important;
  color: #F53838!important;
  font-size: 30px!important;
}

button.owl-next {
  width: 50px!important;
  height: 50px!important;
  background: #F53838!important;
  border-radius: 100px!important;
  color: white!important;
  font-size: 30px!important;
}

.footer a {
  text-decoration: none;
}

.footer {
  background-color: #F8F8F8;
  padding-top: 200px;
}

@media only screen and (max-width: 576px) {
    .header-page h2 {
      margin-top: 30px;
      line-height: 0px;
        font-size: 35px;
        line-height: 70px;
      }

    .logo-brand .col img{
      margin-bottom: 10px;
      width: 100px;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    div.icon-summary{
      visibility: hidden;
    }

}

.subscribe .container{
  background-color: white;
  box-shadow: 0 20px 100px rgba(87, 87, 87, 0.1);
  transform: translateY(150px);
  border-radius: 10px;
}

.icon-footer:hover{
  box-shadow: 0 15px 30px rgba(31, 31, 31, 0.1);
}

footer li {
  list-style-type: none;
  margin-bottom: 15px;
}
footer ul li a{
  text-decoration: none;
  color: #4F5665;
}

.global-network h6{
  margin-top: 10px;
}



@media only screen and (min-width: 577px) {
 
}

@media only screen and (min-width: 769px) {
}

@media only screen and (min-width: 993px) {
}

@media only screen and (min-width: 1200px) {
}
